HOUSE_HUNTER_WHATSAPP_ENABLED=false
HOUSE_HUNTER_WHATSAPP_TO=39YOUR_PHONE_NUMBER_WITHOUT_PLUS
META_WHATSAPP_PHONE_NUMBER_ID=000000000000000
META_WHATSAPP_ACCESS_TOKEN=EAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
META_WHATSAPP_API_VERSION=v23.0
META_WHATSAPP_DAILY_USE_TEMPLATE=false
META_WHATSAPP_DAILY_TEMPLATE_NAME=daily_house_hunter_update
META_WHATSAPP_DAILY_TEMPLATE_LANGUAGE=it
META_WHATSAPP_DAILY_TEMPLATE_PARAM_COUNT=1
